<h5>Односторенняя привязка данных</h5>

<div [style.fontSize]="'13px'" [style.fontFamily]="'Verdana'">
  <h1>Установки стилей можно применять свойства объекта style</h1>
  <p [style.fontSize]="'14px'" [style.fontFamily]="'Segoe Print'">
    Angular 10 представляет модульную архитектуру приложения
  </p>
</div>

<h1>Директива ngStyle</h1>
<p>
  позволяет задать набор стилей, которые применяются к элементу. В качестве
  значения директива принимает js-объект, в котором ключи - названия свойств CSS
</p>

<div [ngStyle]="{ 'font-size': '13px', 'font-family': 'Verdana' }">
  <h1>Динамическое изменение стилей</h1>
  <p [ngStyle]="{ 'font-size': '14px', 'font-family': 'Segoe Print' }">
    Angular 10 представляет модульную архитектуру приложения
  </p>
</div>
